*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::-moz-selection {
  color: #fff;
  background: #d6b161;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #d6b161;
  text-shadow: none;
}

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 2px;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 18px;
  text-transform: uppercase;
}

@media (max-width: 900px) {
  h4 {
    font-size: 16px;
  }
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

p {
  font-family: inherit;
  font-weight: 400;
  color: #7e7e7e;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 0;
}

li {
  list-style-type: none;
}

a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
}

.page-content {
  display: inline-block;
  width: 100%;
  padding: 100px 0;
}

.parallax-slider {
  background-image: url(../../images/parallax-slider/14.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.fun-factor {
  background-image: url(../../images/parallax-slider/7.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.testimonial {
  background-image: url(../../images/parallax-slider/19.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.heading-title {
  text-align: center;
  text-transform: uppercase;
}

.half-txt {
  display: block;
  width: 60%;
  margin: 0 auto;
  line-height: 30px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

@media (max-width: 600px) {
  .half-txt {
    width: 80%;
  }
}

.u-center-text {
  text-align: center;
}

.u-margin-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.u-margin-top-5 {
  margin-top: 5rem;
}

.u-margin-bottom-5 {
  margin-bottom: 5rem;
}

.u-padding-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.u-padding-top-5 {
  padding-top: 5rem;
}

.u-padding-bottom-5 {
  padding-bottom: 5rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.u-margin-buttom-30 {
  margin-bottom: 30px;
}

.u-padding-b-30 {
  padding-bottom: 30px;
}

.u-margin-buttom-50 {
  margin-bottom: 50px;
}

.page-content {
  display: inline-block;
  width: 100%;
  padding: calc(100rem / 15) 0;
}

.u-margin-buttom-100 {
  margin-bottom: 100px;
}

.u-padding-tb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bg-grey {
  background-color: #f8f8f8;
}

.heading-title h1,
.heading-title h2,
.heading-title h3,
.heading-title h4,
.heading-title h5,
.heading-title h6 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal;
}

header .header-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: all .4s;
  transition: all .4s;
}

header .header-sticky .navbar {
  padding: 0;
}

header .header-sticky .navbar .navbar-brand img {
  width: 45%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 900px) {
  header .header-sticky .navbar .navbar-brand img {
    width: 30%;
  }
}

header .header-sticky .navbar .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .nav-item {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 5px;
}

@media (max-width: 900px) {
  header .header-sticky .navbar .navbar-collapse .navbar-nav .nav-item {
    padding: 5px 20px;
    border-top: 1px solid #f0f0f0;
  }
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #333;
  -webkit-transition: .5s all;
  transition: .5s all;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: #d6b161;
}

header .header-sticky .navbar .navbar-collapse .navbar-nav .active .nav-link {
  color: #d6b161;
  -webkit-transition: .5s all;
  transition: .5s all;
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .navbar-expand-sm {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .navbar-expand-sm .navbar-toggler {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .navbar-expand-sm .navbar-collapse {
    display: block !important;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .navbar-expand-sm .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  header .header-sticky .collapse:not(.show) {
    display: none !important;
  }
}

@media (max-width: 900px) {
  header .header-sticky {
    position: fixed;
    background-color: white;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
}

header .isScrolling .navbar-light-trans {
  background-color: white;
}

header .isScrolling .navbar-light-trans .navbar .navbar-brand img {
  width: 30%;
}

@media (max-width: 900px) {
  #carousel {
    margin-top: 9%;
  }
}

@media (max-width: 600px) {
  #carousel {
    margin-top: 18%;
  }
}

#carousel .carousel__slide {
  position: relative;
}

#carousel .carousel__slide .carousel__item img {
  width: 100%;
  height: 100vh;
}

@media (max-width: 1200px) {
  #carousel .carousel__slide .carousel__item img {
    height: 40vh;
  }
}

@media (max-width: 600px) {
  #carousel .carousel__slide .carousel__item img {
    height: 50vh;
  }
}

#carousel .carousel__slide .carousel__item .carousel__content {
  position: absolute;
  top: 40%;
  left: 12%;
}

@media (max-width: 600px) {
  #carousel .carousel__slide .carousel__item .carousel__content {
    left: 5%;
    right: 5%;
  }
}

#carousel .carousel__slide .carousel__item .carousel__content h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#carousel .carousel__slide .carousel__item .carousel__content h1 span {
  font-size: 18px;
}

#carousel .carousel__slide .owl-dots {
  position: absolute;
  bottom: 5%;
  left: 48%;
}

#carousel .carousel__slide .owl-dots button.owl-dot {
  width: 10px;
  height: 10px;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
}

#carousel .carousel__slide .owl-dots button.owl-dot.active {
  background-color: white;
}

#about .about__list {
  margin-top: 5rem;
}

#about .about__list .about__item {
  position: relative;
  border: 1px solid #e9e9e9;
  padding: 2rem 2rem 1rem;
  border-radius: 5px;
}

@media (max-width: 900px) {
  #about .about__list .about__item {
    margin-bottom: 50px;
  }
}

#about .about__list .about__item .about__item__icon {
  position: absolute;
  top: -17%;
  -webkit-box-shadow: 0 0 0 10px #fff;
          box-shadow: 0 0 0 10px #fff;
}

#about .about__list .about__item .about__item__icon i {
  width: 60px;
  height: 60px;
  background-color: #222;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  color: white;
  font-size: 30px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

#about .about__list .about__item .about__item__content {
  margin-top: 20px;
}

#about .about__list .about__item:hover .about__item__icon i {
  background-color: #d6b161;
}

#skills {
  background-image: url("./../../images/background/bg-1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

#skills .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 900px) {
  #skills .overlay {
    display: none;
  }
}

#skills .heading-title {
  letter-spacing: 6px;
}

@media (max-width: 900px) {
  #skills .heading-title {
    margin: 6rem 0;
  }
}

#skills .skills__progress .progress__bar {
  width: 100%;
  height: 20px;
  margin: 50px 0;
  position: relative;
  background: #606060;
}

#skills .skills__progress .progress__bar::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #f2f2f2;
  top: 0;
  left: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#skills .skills__progress .progress__bar .progress__bar--content {
  position: absolute;
  font-size: .8rem;
  top: 5%;
  left: 2%;
  z-index: 3;
}

#skills .skills__progress .progress__bar .progress__bar--counter {
  position: absolute;
  top: -28px;
  left: 0%;
  min-width: 25px;
  height: 20px;
  padding: 0 8px;
  border-radius: 30px;
  line-height: 20px;
  color: #222;
  background-color: #a4a4a4;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#skills .skills__progress .progress__bar .progress__bar--counter::before {
  position: absolute;
  bottom: -2px;
  left: 19px;
  display: block;
  width: 5px;
  height: 5px;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-color: #a4a4a4;
  border-right: 1px solid #a4a4a4;
  background-color: #a4a4a4;
}

#skills .skills__progress .progress__bar.progress__bar--75.active::after {
  width: 75%;
}

#skills .skills__progress .progress__bar.progress__bar--75.active .progress__bar--counter {
  left: 70%;
}

#skills .skills__progress .progress__bar.progress__bar--80.active::after {
  width: 80%;
}

#skills .skills__progress .progress__bar.progress__bar--80.active .progress__bar--counter {
  left: 75%;
}

#skills .skills__progress .progress__bar.progress__bar--90.active::after {
  width: 90%;
}

#skills .skills__progress .progress__bar.progress__bar--90.active .progress__bar--counter {
  left: 85%;
}

#team {
  background-color: #f5f5f5;
}

#team .team__list .team__item {
  position: relative;
}

#team .team__list .team__item .team__item__img {
  position: relative;
}

#team .team__list .team__item .team__item__img img {
  width: 100%;
}

#team .team__list .team__item .team__item__img .img__info {
  position: absolute;
  bottom: 8%;
  right: 0;
  display: block;
  width: 70%;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
}

#team .team__list .team__item .team__item__img .img__info h5 {
  margin-bottom: 0;
  color: white;
  text-transform: uppercase;
}

#team .team__list .team__item .team__item__img .img__info span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#team .team__list .team__item .team__item__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

#team .team__list .team__item .team__item__hover .hover__content {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 20px;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  opacity: 0;
  text-align: center;
}

#team .team__list .team__item .team__item__hover .hover__content h4 {
  margin-bottom: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 14px;
}

#team .team__list .team__item .team__item__hover .hover__content p {
  margin-bottom: 0;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

#team .team__list .team__item .team__item__hover .hover__link {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  -webkit-transform: translateY(45%);
          transform: translateY(45%);
  text-align: center;
  opacity: 0;
}

#team .team__list .team__item .team__item__hover .hover__link a {
  margin: 0 10px;
  color: #222;
  font-size: 16px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#team .team__list .team__item .team__item__hover .hover__link a:hover {
  color: #d6b161;
}

#team .team__list .team__item:hover .team__item__hover {
  opacity: 1;
}

#team .team__list .team__item:hover .team__item__hover .hover__content {
  -webkit-transform: translateY(35%);
          transform: translateY(35%);
  opacity: 1;
}

#team .team__list .team__item:hover .team__item__hover .hover__link {
  bottom: 10%;
  opacity: 1;
}

#portfolio .portfolio__filter ul {
  list-style-type: none;
}

#portfolio .portfolio__filter ul li {
  display: inline-block;
  margin: 0 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #a9a8a8;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 600px) {
  #portfolio .portfolio__filter ul li {
    margin: 10px 15px;
  }
}

#portfolio .portfolio__filter ul .mixitup-control-active {
  color: #222;
}

#portfolio .portfolio__gallery .mix .gallery__thumb {
  position: relative;
  margin: 1rem 0;
}

#portfolio .portfolio__gallery .mix .gallery__thumb img {
  width: 100%;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__icon {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  opacity: 0;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__icon a {
  color: #222;
  text-align: center;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__icon a i {
  font-size: 35px;
}

@media (min-width: 900px) and (max-width: 1200px) {
  #portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__icon a i {
    font-size: 25px;
  }
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  text-align: center;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__content h4 {
  margin-bottom: 0;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 14px;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__content h4 a {
  color: #222;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__content h4 a:hover {
  color: #d6b161;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__content p {
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: normal;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__content p a {
  color: #757575;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

#portfolio .portfolio__gallery .mix .gallery__thumb .img__hover .hover__content p a:hover {
  color: #d6b161;
}

#portfolio .portfolio__gallery .mix .gallery__thumb:hover .img__hover {
  opacity: 1;
}

#portfolio .portfolio__gallery .mix .gallery__thumb:hover .img__hover .hover__icon {
  top: 30%;
  opacity: 1;
}

@media (min-width: 900px) and (max-width: 1200px) {
  #portfolio .portfolio__gallery .mix .gallery__thumb:hover .img__hover .hover__icon {
    top: 15%;
  }
}

#portfolio .portfolio__gallery .mix .gallery__thumb:hover .img__hover .hover__content {
  bottom: 20%;
  opacity: 1;
}

#promo {
  background-color: #222;
}

@media (max-width: 600px) {
  #promo {
    padding-left: 30px;
    padding-right: 30px;
  }
}

#promo .promo__info {
  text-transform: uppercase;
}

#promo .promo__info h3 {
  color: white;
  margin-bottom: 0;
}

#promo .promo__info h3 span {
  color: #d6b161;
}

#promo .promo__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 600px) {
  #promo .promo__btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 20px;
  }
}

#promo .promo__btn a {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #d6b161;
  color: white;
  font-size: 14px;
  padding: 15px 30px;
}

.service-box {
  border: 1px solid #e1e1e1;
  padding: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 900px) {
  .service-box {
    padding: 30px;
  }
}

.service-box__icon {
  font-size: 46px;
  color: #7e7e7e;
  display: block;
}

.service-box:hover {
  background: #222;
}

.service-box:hover h4 {
  color: #ffffff;
}

.service-box:hover i {
  color: #d6b161;
}

#services .col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 600px) {
  #services .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.slider-content__img {
  height: 550px;
}

@media (max-width: 900px) {
  .slider-content__img {
    height: 350px;
  }
}

.slider-content__img img {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 20px;
}

.slider-content__text {
  padding-top: 200px;
  padding-left: 70px;
}

@media (max-width: 900px) {
  .slider-content__text {
    padding-top: 109px;
    padding-left: 44px;
  }
}

@media (max-width: 600px) {
  .slider-content__text {
    padding: 50px 35px;
    text-align: center;
  }
}

.slider-content__text h3 {
  color: #d6b161;
}

.slider-content__text p {
  color: #ffffff;
}

.slider-content__text button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
  padding: 13px 30px;
  font-size: 13px;
}

.slider-content__text button:hover {
  background: #d6b161;
  border: none;
}

@media (max-width: 900px) {
  .slider-content__text .btn-danger {
    margin-bottom: 20px;
  }
}

.slider-content .owl-dots {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 600px) {
  .slider-container .col-4 {
    display: none;
  }
}

.content__photo img {
  width: 100%;
}

.content__desc--number {
  display: inline-block;
  width: 100%;
  font-size: 36px;
  color: #e1e1e1;
}

.content__buttom--orange {
  background: #222;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #ffffff;
  margin-right: 20px;
  letter-spacing: 2px;
}

.content__buttom--orange:hover {
  color: #ffffff;
  background: #d6b161;
}

.content__buttom--white {
  background: #ffffff;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #222;
  border: 1px solid #222;
  letter-spacing: 2px;
}

.content__buttom--white:hover {
  color: #ffffff;
  background: #222;
}

#feature .row {
  padding-left: 0;
  padding-right: 0;
}

#feature .row .col-md-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.factor-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

@media (max-width: 600px) {
  .factor-box {
    padding: 30px 0;
  }
}

.factor-box__icon {
  font-size: 36px;
  margin-top: 6px;
}

.factor-box__info {
  position: relative;
  padding-left: 80px;
}

.factor-box__info h1 {
  color: #ffffff;
  letter-spacing: 2px;
}

.factor-box__info span {
  font-size: 15px;
  text-transform: uppercase;
}

.factor-box__info::before {
  content: "";
  clear: both;
  position: absolute;
  top: 2px;
  left: 48px;
  width: 2px;
  height: 90px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background: #7e7e7e;
}

@media (max-width: 600px) {
  .fun-factor {
    padding: 50px 0;
  }
}

.blog-content__img img {
  width: 100%;
  position: relative;
}

.blog-content__img--button::after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  width: 15px;
  height: 15px;
  bottom: -7px;
  margin-left: -16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-style: none;
  border-color: #ffffff;
  border-right: 1px solid #ffffff;
  -o-border-image: none;
     border-image: none;
  background-color: #ffffff;
}

.blog-content__img--top::after {
  content: "";
  position: absolute;
  left: 50%;
  display: block;
  width: 15px;
  height: 15px;
  top: -7px;
  margin-left: -16px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-style: none;
  border-color: #ffffff;
  border-right: 1px solid #ffffff;
  -o-border-image: none;
     border-image: none;
  background-color: #ffffff;
}

.blog-content__view .half-txt {
  margin-top: 40px;
}

.blog-content__view a {
  position: relative;
  color: #7e7e7e;
  text-transform: uppercase;
  font-size: 15px;
}

.blog-content__view a:hover {
  color: #222;
}

.blog-content__view a i {
  position: absolute;
  top: 9px;
  margin-left: 10px;
  font-weight: bold;
}

.content-box {
  padding: 40px;
  height: 301px;
  position: relative;
}

@media (max-width: 1200px) {
  .content-box {
    height: 255px;
  }
}

@media only screen and (width: 768px) {
  .content-box {
    height: 190px;
  }
}

.content-box__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 600px) {
  .content-box__text {
    padding-right: 40px;
  }
}

.content-box__text--date::after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  width: 60px;
  background-color: #222;
  margin-bottom: 20px;
}

.content-box__text--title a {
  text-decoration: none;
  color: #222;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content-box__text--title a:hover {
  color: #d6b161;
}

.content-box__text--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-box__text--name li {
  list-style: none;
}

.content-box__text--name li a {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #909090;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.content-box__text--name li a:hover {
  color: #d6b161;
}

.blog-content .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 600px) {
  .blog-content .order {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.testimonial-item {
  text-align: center;
}

.testimonial-item__img {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.testimonial-item__img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.testimonial-item__content {
  color: #ffffff;
}

.testimonial-item__content--text p {
  color: #ffffff;
}

.testimonial-item__content--name {
  text-transform: uppercase;
  margin-top: 15px;
  font-size: 15px;
}

.testimonial-item__content--name p {
  color: #ffffff;
  margin-bottom: 0;
}

.testimonial .half-txt {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .video-demo__media iframe {
    width: 100%;
  }
}

#img__post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#img__post .post__item {
  width: 100%;
  position: relative;
  cursor: pointer;
}

#img__post .post__item .post__item__img img {
  width: 100%;
}

#img__post .post__item .post__item__content {
  position: absolute;
  left: 0;
  top: 10%;
  padding: 10%;
}

#img__post .post__item .post__item__content .post__item__title span {
  font-size: 16px;
}

@media (max-width: 900px) {
  #img__post {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  #img__post .post__item .post__item__content p {
    height: 4rem;
    overflow: scroll;
    text-overflow: ellipsis;
  }
}

#price__table .price__col {
  padding: calc(10rem /3);
  text-align: center;
  border: 1px solid #e8e8e8;
  background: #fff;
}

#price__table .price__col h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 16px;
}

#price__table .price__col .price__value {
  margin-bottom: calc(40rem / 15);
  padding: calc(25rem /15) 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

#price__table .price__col .price__value .price__dollar {
  font-size: 42px;
  font-weight: normal;
}

#price__table .price__col .price__value .price__dollar span {
  margin-left: calc(-10rem /15);
  font-size: 16px;
}

#price__table .price__col .price__value .price__duration {
  text-transform: uppercase;
  font-size: 12px;
}

#price__table .price__col ul {
  display: block;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

#price__table .price__col ul li {
  margin-bottom: 1rem;
  color: #222;
  font-size: 1rem;
}

#price__table .price__col .price__btn {
  display: block;
  padding: 1rem calc(20rem /15);
  text-transform: uppercase;
  color: #222;
  border: 1px solid #e8e8e8;
  font-weight: normal;
  font-size: 15px;
}

#price__table .price__col .price__btn:hover {
  border: 1px solid #222;
  background: #222;
  color: white;
}

#price__table .price__col.feature {
  color: white;
  border: 1px solid #222;
  background: #222;
}

#price__table .price__col.feature h1 {
  color: #d6b161;
}

#price__table .price__col.feature .price__value {
  color: white;
}

#price__table .price__col.feature ul li {
  color: #7d7d7d;
}

#price__table .price__col.feature .price__btn {
  color: #222;
  background: #fff;
}

#price__table .price__col.feature .price__btn:hover {
  color: white;
  background-color: #d6b161;
}

.ml-16 {
  margin-left: calc(100% /6);
}

@media (max-width: 900px) {
  .subcribe-box .subcribe__content {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .subcribe-box .subcribe__form .form-control,
  .subcribe-box .subcribe__form button {
    width: 100% !important;
  }
  .subcribe-box .subcribe__form .form-control {
    margin: 1rem 0 !important;
  }
}

.subcribe-box .subcribe__info {
  margin-bottom: calc(50rem/15);
}

.subcribe-box .subcribe__info h3 {
  margin-bottom: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #d6b161;
}

.subcribe-box .subcribe__info p {
  width: 100%;
  margin-bottom: 20px;
}

.subcribe-box .subcribe__form .form-control {
  display: inline-block;
  float: none;
  margin: 0 5px;
  width: 75%;
  height: 52px;
  border: 1px solid #fff;
  background: #fff;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

.subcribe-box .subcribe__form button {
  letter-spacing: 1px;
}

.subcribe-box .subcribe__form button:hover {
  background-color: #d6b161 !important;
  border: none;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.btn-medium {
  padding: 1rem 2rem;
  font-size: 14px;
  font-weight: normal;
}

.btn-dark {
  background-color: black !important;
}

#clients #client__slide {
  opacity: 1;
  display: block;
}

#clients #client__slide img {
  display: block;
  width: 100%;
  height: auto;
}

#clients .owl-theme .owl-dots .owl-dot span {
  background: #eaeaea !important;
}

#clients .owl-theme .owl-dots .owl-dot.active span {
  opacity: 0.5;
}

#clients .client__title {
  margin-bottom: calc(100rem/15);
}

.paralax-inner {
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;
}

.paralax-15 {
  background-image: url("./../../images/background/bg-5.jpeg") !important;
}

#contact__info .info__item .icon {
  padding: 0 0 2rem 0;
}

#contact__info .info__item .icon i {
  font-size: 40px;
}

#contact__info .info__item .title h4 {
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: normal;
}

#contact__info .info__item .desc {
  color: white;
  font-size: 15px;
}

#contact__form #form .form-item {
  height: 40px;
  border-radius: 0;
  border: 1px solid #e5e5e5;
  display: block;
  width: 100%;
  padding: 0.4rem 0.8rem;
  font-size: 14px;
  margin-bottom: 1rem;
}

#contact__form #form .form-item.cmt-txt {
  height: 95px;
}

#contact__form #form button {
  border-radius: 0;
}

#contact__form #form button:hover {
  background-color: #d6b161;
  color: white;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

.ml_8 {
  margin-left: calc(100%/12);
}

.btn-dark-solid {
  color: #fff;
  background: #222;
}

.btn-small {
  padding: 2rem/3 4rem/3;
  font-size: 12px;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  #contact__form #form .form__content {
    width: 100% !important;
  }
}

footer .footer__logo img {
  width: calc(100rem/15);
}

footer .sub-title {
  margin: 1rem 0;
  letter-spacing: 2px;
  color: #222;
  font-size: 12px;
}

footer .social-link.circle a {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #222;
  border-radius: 50%;
  line-height: 40px;
}

footer .social-link {
  margin: calc(80rem/15) 0;
  display: inline-block;
}

footer .social-link a {
  display: inline-block;
  margin: 10px;
  color: #222;
  font-size: 20px;
  -webkit-transition: all 0.5;
  transition: all 0.5;
}

footer .social-link a:hover {
  background-color: black;
  color: white;
}

footer .copy-right h3 {
  letter-spacing: 2px;
  color: #000;
  font-size: 14px;
}

footer .copy-right h4 {
  letter-spacing: 2px;
  font-size: 14px;
}

footer.grey {
  padding: 80px 0;
  background: #f5f5f5;
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.back-to-top:hover {
  background-color: #d6b161;
}

.back-to-top i {
  color: white;
}

@media (max-width: 900px) {
  .back-to-top {
    display: none;
  }
}

.back-to-top__hide {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.isVisible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
/*# sourceMappingURL=style.css.map */