@mixin btn-button-click($bg, $bg-1) {
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
    background: $bg;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all 0.5s;
    &:hover {
        background: $bg-1;
        border: none;
    }
}

@mixin respond($breakpoint) {
    @if ($breakpoint == phone) {
        @media (max-width: 600px) {
            @content;
        }
    }
    @if ($breakpoint == tab-port) {
        @media (max-width: 900px) {
            @content;
        }
    }
    @if ($breakpoint == tab-land) {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @if ($breakpoint == big-desktop) {
        @media (min-width: 1800px) {
            @content;
        }
    }
}

@mixin progress-bar($number) {
    &.progress__bar--#{$number}.active {
        &::after {
          width: $number * 1%;
        }
        .progress__bar--counter {
          left: $number * 1% - 5%;
        } 
    }
}