#clients {
    #client__slide {
        opacity: 1;
        display: block;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
    .owl-theme .owl-dots .owl-dot span {
        background: #eaeaea !important;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        opacity: 0.5;
    }
}
