#contact__form {
    #form {
        .form-item {
            height: 40px;
            border-radius: 0;
            border: 1px solid #e5e5e5;
            display: block;
            width: 100%;
            padding: 0.4rem 0.8rem;
            font-size: 14px;
            margin-bottom: 1rem;
        }
        .form-item.cmt-txt {
            height: 95px;
        }
        button {
            border-radius: 0;
            &:hover {
                background-color: $color-primary;
                color: white;
                transition: all 0.5;
            }
        }
    }
}

.ml_8 {
    margin-left: calc(100%/12);
}

.btn-dark-solid {
    color: #fff;
    background: #222;
}

.btn-small {
    padding: 2rem/3 4rem/3;
    font-size: 12px;
    font-weight: normal;
}

@media screen and (max-width:768px) {
    #contact__form #form .form__content {
        width: 100% !important;
    }
}