header {
    .header-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
        transition: all .4s;

        .navbar {
            padding: 0;
            .navbar-brand {
                img {
                    width: 45%;
                    transition: all .5s;
                    @include respond(tab-port) {
                        width: 30%;
                    }
                }
            }
    
    
            .navbar-collapse {
                justify-content: flex-end;
                .navbar-nav {
                    .nav-item {
                        font-size: 13px;
                        font-weight: 400;
                        text-transform: uppercase;
                        padding: 0 5px;
                        @include respond(tab-port) {
                            padding: 5px 20px;
                            border-top: 1px solid #f0f0f0;
                        }
                        .nav-link {
                            color: $color-header;
                            transition: .5s all;
                            &:hover {
                                color: $color-primary;
                            }
                        }
                        
                    }
                    .active {
                        .nav-link {
                            color: $color-primary;
                            transition: .5s all;
                        }
                    }
                }
            }
        }
    
        .navbar-expand-sm {
            @media (min-width: 576px) and (max-width: 768px) {
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .navbar-toggler {
                @media (min-width: 576px) and (max-width: 768px) {
                    display: block;
                }
            }
            .navbar-collapse {
                @media (min-width: 576px) and (max-width: 768px) {
                    display: block !important;
                    flex-basis: 100%;
                }
                .navbar-nav {
                    @media (min-width: 576px) and (max-width: 768px) {
                        flex-direction: column;
                    }
                }
            }
        }
    
        .collapse:not(.show) {
            @media (min-width: 576px) and (max-width: 768px) {
                display: none !important;
            }
        }    

        @include respond(tab-port) {
            position: fixed;
            background-color: white;
            box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
        }
    }

    .isScrolling {
        .navbar-light-trans {
            background-color: white;
            .navbar {
                .navbar-brand {
                    img {
                        width: 30%;
                    }
                }
            }
        }
    }
}